<div class="top-content"></div>
<div class="container-fluid">
  <br>
  <div class="text-center">
    <div class="menu text-center">
      アプリの使い方
    </div>
  </div>
  <%= render 'first' %>
  <%= render 'second' %>
  <%= render 'third' %>
  <%= render 'forth' %>
</div>