<div class="container-fluid top-img"></div>
  <div class="text-center">
    <br>
    <h1 class="menu text-center">
      アプリの使い方
    </h1>
  </div>
  <%= render 'first' %>
  <%= render 'second' %>
  <%= render 'third' %>
  <%= render 'forth' %>