<h1>Users#create</h1>
<p>Find me in app/views/users/create.html.erb</p>

.searches
  = search_form_for @search, url: items_searches_path do |f|
    .searches-head
      %i.fas.fa-angle-down.icon
      = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { selected: params[:q][:sorts] } , { onchange: 'this.form.submit()'})
    .searches-body
      .search-body__subtitle
        詳細検索
      .form-group
        %label
          %i.fas.fa-plus.icon
          %span
            キーワードを追加する
        = f.search_field :name_cont, class: "input-default", placeholder: '例）値下げ'
      .form-group
        %label
          %i.fas.fa-tag.icon
          %span
            ブランド名から探す
        = f.search_field :brand_brand_cont, class: "input-default", placeholder: '例）シャネル'
      .form-group
        %label
          %i.fas.fa-coins.icon
          %span
            価格
        .form_money
          = f.number_field :price_gteq, placeholder: "¥ Min"
          %span.form_money__fromTo ~
          = f.number_field :price_lteq, placeholder: "¥ Max"
      .form-group
        %label
          %i.fas.fa-star.icon
          %span 商品の状態
        .checkbox
          .checkbox-default
            %label
              %input{type: "checkbox"}
              = 'すべて'
              %i.check-icon
          .checkbox-default
            %label
              = f.check_box :item_condition_id_in , {multiple: true} , "1", nil
              = "新品、未使用"
              %i.check-icon
          .checkbox-default
            %label
              = f.check_box :item_condition_id_in , {multiple: true} , "2", nil
              = "未使用に近い"
              %i.check-icon
          .checkbox-default
            %label
              = f.check_box :item_condition_id_in , {multiple: true} , "3", nil
              = "目立った傷や汚れなし"
              %i.check-icon
          .checkbox-default
            %label
              = f.check_box :item_condition_id_in , {multiple: true} , "4", nil
              = "やや傷や汚れあり"
              %i.check-icon
          .checkbox-default
            %label
              = f.check_box :item_condition_id_in , {multiple: true} , "5", nil
              = "傷や汚れあり"
              %i.check-icon
          .checkbox-default
            %label
              = f.check_box :item_condition_id_in , {multiple: true} , "6", nil
              = "全体的に状態が悪い"
              %i.check-icon
      .form-group
        %label
          %i.fas.fa-truck-moving.icon
          %span 配送料の負担
        .checkbox
          .checkbox-default
            %label
              %input{type: "checkbox"}
              = 'すべて'
              %i.check-icon
          .checkbox-default
            %label
              = f.check_box :postage_payer_id_in , {multiple: true} , "1", nil
              = "着払い(購入者負担)"
              %i.check-icon
          .checkbox-default
            %label
              = f.check_box :postage_payer_id_in , {multiple: true} , "2", nil
              = "送料込み(出品者負担)"
              %i.check-icon
      .form-group
        %label
          %i.fas.fa-shopping-cart.icon
          %span 販売状況
        .checkbox
          .checkbox-default
            %label
              %input{type: "checkbox"}
              = 'すべて'
              %i.check-icon
          .checkbox-default
            %label
              = f.check_box :trading_status_in , {multiple: true} , "0", nil
              = "販売中"
              %i.check-icon
          .checkbox-default
            %label
              = f.check_box :trading_status_in , {multiple: true} , "1", nil
              = "売り切れ"
              %i.check-icon
      .search-done-btn
        = f.button "クリア", type: "reset", class: "btn-default btn-gray"
        = f.submit "完了", class: "btn-default btn-red"