<nav class="navbar bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <div class="d-flex align-items-center">
      <!--form class="w-100 me-3" role="search">
        <input type="search" class="form-control" placeholder="検索...">
      </form-->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight" aria-controls="offcanvasNavbarLight">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarLight" aria-labelledby="offcanvasNavbarLightLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">ゲストさん</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to (t'posts.index.title'), posts_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to (t'defaults.login'), login_path, class: "nav-link" %>
            </li>
          </ul>
          <!--form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="検索..." aria-label="検索...">
            <button class="btn btn-outline-success flex-shrink-0" type="submit">検索</button>
          </form-->
        </div>
      </div>
    </div>
  </div>
</nav>