<header>
  <nav class="navbar navbar-dark bg-black">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag 'logo.png' %>
      <% end %>
      <div class="d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">ゲストさん</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <%= link_to (t'posts.index.title'), posts_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to (t'defaults.login'), login_path, class: "nav-link" %>
              </li>
            </ul>
            <!--form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="検索..." aria-label="検索...">
              <button class="btn btn-outline-success flex-shrink-0" type="submit">検索</button>
            </form-->
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
