<footer>
  <div class="container-fluid">
    <div class="row bg-black">
      <ul class="nav justify-content-center border-bottom ">
        <li class="nav-item">
          <a><%= link_to "利用規約", homes_terms_path, class: "nav-link px-2 text-muted" %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to "プライバシーポリシー", homes_privacy_policy_path, class: "nav-link px-2 text-muted" %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLScC_jG6IX2YtbWGDK2SSLg_B15p1zvRiSYyoICIMokFQKen9A/viewform", class: "nav-link px-2 text-muted" %></a>
        </li>
      </ul>
      <p class="text-center text-muted">Copyright © 2023. WHISKER</p>
    </div>
  </div>
</footer>