<div class="modal fade" id="modal7" aria-hidden="true" aria-labelledby="modalLabel7" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">響(ジャパニーズハーモニー)</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        響は、山崎蒸溜所、白州蒸溜所、知多蒸溜所の3つの蒸留所で作られた原酒を掛け合わせて作られているウイスキー。<br>
        琥珀色のボディ、ローズやライチの奥に、ほのかに香るローズマリー、かすかに熟成樽の香りと白檀の香りもします。<br>
        蜂蜜のすっきりした甘さとチョコレートをまとったオレンジピールのビターな甘さ、余韻は長く穏やかです。<br>
        アルコール度数は43度と高めですが、アルコールの刺激は少なく、ストレートでも十分飲めます。<br>
        響も市場にはほとんど出回らないため、インターネット等でプレミアム価格で買うことがほとんどである。
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <%= link_to '商品を見る', 'https://search.rakuten.co.jp/search/mall/%E9%9F%BF/', class: 'btn btn-secondary text-white' %>
        </div>
        <button class="btn btn-primary" data-bs-target="#modal8" data-bs-toggle="modal">次へ</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal8" aria-hidden="true" aria-labelledby="modalLabel8" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">フロム・ザ・バレル</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        フロム・ザ・バレルは、熟成を経たモルト原酒とグレーン原酒をブレンド後、さらにもう一度樽詰めし、数ヶ月ほど再貯蔵して作られているウイスキー。<br>
        再貯蔵された多くのウイスキーは、瓶詰め前に割り水によってアルコール分が40～45%程度に調整されますが、
        フロム・ザ・バレルは、割り水を最小限に留め、アルコール分「51%」に設定。骨太な飲みごたえとともに、再貯蔵で生まれた濃厚にして繊細な香りと味わいを感じられる。<br>
        以前は定価で買えていたものの、入手性が低くなり現在は定価では買えない。ただ、店頭に少し置いている店もあるため入手困難ではないため、一度手に取ってもらいたい。
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <%= link_to '商品を見る', 'https://search.rakuten.co.jp/search/mall/%E3%83%95%E3%83%AD%E3%83%A0%E3%83%BB%E3%82%B6%E3%83%BB%E3%83%90%E3%83%AC%E3%83%AB/', class: 'btn btn-secondary text-white' %>
        </div>
        <button class="btn btn-primary" data-bs-target="#modal7" data-bs-toggle="modal">戻る</button>
        <button class="btn btn-primary" data-bs-target="#modal9" data-bs-toggle="modal">次へ</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal9" aria-hidden="true" aria-labelledby="modalLabel9" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">ジェムソン スタンダード</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        ジェムソン スタンダードは、アイルランドで製造されており、密閉炉でじっくりと乾燥させることで、穀物感が増し、クセの少ない穏やかな香りを楽しめるウイスキー。<br>
        色合いは赤みがかった琥珀色で香りはフローラルで香ばしさとほのかに甘みのあるシェリー感が感じられる。また、
        少しアルコールの刺激感があるのですが、オイリーでナッツの香ばしさ、清涼感があり、シェリーのレーズンぽさが感じられ、喉を通すとウッディーな感じが現われます。
        味わいは、クリーンで軽やかな舌触り、ウッディさを伴うバニラや蜂蜜のような甘い味わいを兼ね備えており、軽快さとスッキリさを堪能できると言えます。<br>
        ジェムソンシリーズの累計販売数はアイリッシュウイスキー部門で世界１位を獲得するほど有名なウイスキーとして知られている。
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <%= link_to '商品を見る', 'https://search.rakuten.co.jp/search/mall/%E3%82%B8%E3%82%A7%E3%83%A0%E3%82%BD%E3%83%B3/', class: 'btn btn-secondary text-white' %>
        </div>
        <button class="btn btn-primary" data-bs-target="#modal8" data-bs-toggle="modal">戻る</button>
      </div>
    </div>
  </div>
</div>
<a class="btn btn-secondary" data-bs-toggle="modal" href="#modal7" role="button">おすすめ</a>