<div class="modal fade" id="modal4" aria-hidden="true" aria-labelledby="modalLabel4" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">知多</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        伊勢湾を臨む愛知県の知多半島に位置する知多蒸留所で生まれたシングルグレーンウイスキー。<br>
        知多は、知多蒸留所で作られたさまざまなグレーンウイスキーの原酒を絶妙にブレンドして作られており、
        主な樽原酒として、バニラの甘い香りがするホワイトオーク樽、フルーティな軽やかさと複雑な味わいのスパニッシュオーク樽、
        口当たりが良くイチゴのような甘い香りがするワイン樽の原酒があります。<br>
        知多は、軽やかでありつつ豊かな風味と、フルーティな香りやバニラの甘い香りなどを含む複雑で繊細な香味を感じるウイスキーだと言えます。
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <%= link_to '商品を見る', 'https://search.rakuten.co.jp/search/mall/%E7%9F%A5%E5%A4%9A/', class: 'btn btn-secondary text-white' %>
        </div>
        <button class="btn btn-primary" data-bs-target="#modal5" data-bs-toggle="modal">次へ</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal5" aria-hidden="true" aria-labelledby="modalLabel5" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">キャメロンブリッジ</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        スコットランドの東岸、エジンバラの少し北に位置するファイフのバンクス・オブ・レーヴェンにあるキャメロンブリッジ蒸留所で作られているウイスキー。<br>
        色味は中間色の琥珀色、香りは甘いリンゴのようなフルーティさから始まり、メープルシロップ、こんがり焼いたパン、コーンといったグレーンの原材料を彷彿とさせます。<br>
        味わいは柔らかみのあるライトさで柑橘類のビターの風味がじんわりとひろがり、ハチミツ、リンゴ、ミルクチョコレートといった芳醇で豊かな甘みが印象的です。
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <%= link_to '商品を見る', 'https://search.rakuten.co.jp/search/mall/%E3%82%AD%E3%83%A3%E3%83%A1%E3%83%AD%E3%83%B3%E3%83%96%E3%83%AA%E3%83%83%E3%82%B8/', class: 'btn btn-secondary text-white' %>
        </div>
        <button class="btn btn-primary" data-bs-target="#modal4" data-bs-toggle="modal">戻る</button>
        <button class="btn btn-primary" data-bs-target="#modal6" data-bs-toggle="modal">次へ</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal6" aria-hidden="true" aria-labelledby="modalLabel6" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">ニッカ カフェグレーン</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        ニッカウヰスキー宮城峡蒸溜所にて世界でも稀少な“カフェ式連続式蒸溜機”でつくられた味わい深いグレーンウイスキー。<br>
        香りは、ウッディなバニラ香、クッキーのような香ばしさ、カスタードクリーム、チョコレート、砂糖を焦がしたような甘い香りを感じられる。<br>
        味わいは、クリーンで軽やかな舌触り、ウッディさを伴うバニラや蜂蜜のような甘い味わいを兼ね備えており、軽快さとスッキリさを堪能できると言えます。
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <%= link_to '商品を見る', 'https://search.rakuten.co.jp/search/mall/%E3%83%8B%E3%83%83%E3%82%AB%E3%82%AB%E3%83%95%E3%82%A7%E3%82%B0%E3%83%AC%E3%83%BC%E3%83%B3/', class: 'btn btn-secondary text-white' %>
        </div>
        <button class="btn btn-primary" data-bs-target="#modal5" data-bs-toggle="modal">戻る</button>
      </div>
    </div>
  </div>
</div>
<a class="btn btn-secondary" data-bs-toggle="modal" href="#modal4" role="button">おすすめ</a>