<div class="modal fade" id="modal15" aria-hidden="true" aria-labelledby="modalLabel15" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">ワイルドターキー ライ</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        原料のライ麦比率は51%以上であり、従来よりも長い4～5年熟成の原酒を使用しているため、しっかりとした中にデリケートなニュアンスを感じることができるウイスキー。
        ワイルドターキーのライ麦の原料比率を増やしたウイスキーであり、カクテルにも使用される銘柄になっています。<br>
        通常のワイルドターキーと比較するとスパイシーさが強く、甘みが少ないのが特徴である。
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <%= link_to '商品を見る', 'https://search.rakuten.co.jp/search/mall/%E3%83%AF%E3%82%A4%E3%83%AB%E3%83%89%E3%82%BF%E3%83%BC%E3%82%AD%E3%83%BC+%E3%83%A9%E3%82%A4/', class: 'btn btn-secondary text-white' %>
        </div>
        <button class="btn btn-primary" data-bs-target="#modal16" data-bs-toggle="modal">次へ</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal16" aria-hidden="true" aria-labelledby="modalLabel16" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">ノブクリーク ライ</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        ジムビーム蒸溜所が長年培ってきた製法を生かし、「ノブ・クリーク」らしい力強くリッチな味わい且つバーボンよりも深いコクと、ライ麦由来の香り高い独特のスパイシーなウイスキー。<br>
        スパイシーな香りとは裏腹に口あたりはマイルドで、ゆっくりとライ麦のおいしさが広がっていきます。また、もともとバーボンとして作られているので甘み、そしてライ麦の棘のある感じが混じり合って非常に美味しい。
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <%= link_to '商品を見る', 'https://search.rakuten.co.jp/search/mall/%E3%83%8E%E3%83%96%E3%82%AF%E3%83%AA%E3%83%BC%E3%82%AF+%E3%83%A9%E3%82%A4/', class: 'btn btn-secondary text-white' %>
        </div>
        <button class="btn btn-primary" data-bs-target="#modal15" data-bs-toggle="modal">戻る</button>
      </div>
    </div>
  </div>
</div>
<a class="btn btn-secondary" data-bs-toggle="modal" href="#modal15" role="button">おすすめ</a>