<div class="modal fade" id="modal7" aria-hidden="true" aria-labelledby="modalLabel7" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">グレンモーレンジィオリジナル</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        爽やかでフルーティーな味わいが大きな特徴である。<br>
        最初の一口でバニラ、シトラス、シロップを感じさせる甘い風味が口の中に広がり、後味はレモンのような爽快感がある。<br>
        トワイスアップで飲むことで、さらに濃厚なフルーティーの風味を堪能できるので、ぜひ熟練の味を体験していただきたい。
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <%= link_to '商品を見る', 'https://search.rakuten.co.jp/search/mall/%E3%82%B0%E3%83%AC%E3%83%B3%E3%83%A2%E3%83%BC%E3%83%AC%E3%83%B3%E3%82%B8%E3%82%A3%E3%82%AA%E3%83%AA%E3%82%B8%E3%83%8A%E3%83%AB/', class: 'btn btn-secondary text-white' %>
        </div>
        <button class="btn btn-primary" data-bs-target="#modal8" data-bs-toggle="modal">次へ</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal8" aria-hidden="true" aria-labelledby="modalLabel8" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">ブルックラディ ザ・クラシックラディ</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        ブルックラディの特徴は、エレガントかつフローラルな風味である。<br>
        アルコール度数が50度と高い中でも、バニラやナッツ、青リンゴなどのフレッシュな果実の風味と酸味を感じることができる。
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <%= link_to '商品を見る', 'https://search.rakuten.co.jp/search/mall/%E3%83%96%E3%83%AB%E3%83%83%E3%82%AF%E3%83%A9%E3%83%87%E3%82%A3+%E3%82%B6%E3%83%BB%E3%82%AF%E3%83%A9%E3%82%B7%E3%83%83%E3%82%AF%E3%83%A9%E3%83%87%E3%82%A3/', class: 'btn btn-secondary text-white' %>
        </div>
        <button class="btn btn-primary" data-bs-target="#modal7" data-bs-toggle="modal">戻る</button>
        <button class="btn btn-primary" data-bs-target="#modal9" data-bs-toggle="modal">次へ</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal9" aria-hidden="true" aria-labelledby="modalLabel9" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">バランタイン ファイネスト</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        強いアルコール感があるにも関わらず香りが豊潤で、甘いバニラのような風味を余韻として楽しめる<br>
        香りと味のバランスが絶妙なので、滑らかな口当たりでスルスルと喉の奥まで入り、非常に飲みやすい仕上がりになっている。<br>
        トワイスアップで飲むと豊潤な香りがさらに強く強調されるため、甘くてビターな風味となる。
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <%= link_to '商品を見る', 'https://search.rakuten.co.jp/search/mall/%E3%83%90%E3%83%A9%E3%83%B3%E3%82%BF%E3%82%A4%E3%83%B3+%E3%83%95%E3%82%A1%E3%82%A4%E3%83%8D%E3%82%B9%E3%83%88/', class: 'btn btn-secondary text-white' %>
        </div>
        <button class="btn btn-primary" data-bs-target="#modal8" data-bs-toggle="modal">戻る</button>
      </div>
    </div>
  </div>
</div>
<a class="btn btn-secondary" data-bs-toggle="modal" href="#modal7" role="button">おすすめ</a>