<div class="container-fluid whiskey">
  <br>
  <br>
  <h1 class="my-6 text-center text-white"> 原酒について</h1>
  <br>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-5">
      <a><%= image_tag 'whiskey.png', size: '700x400', class: 'img-fluid rounded mb-2 mb-md-0' %></a>
    </div>
    <div class="col-md-7">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              アコーディオン・アイテム #1
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>これが最初のアイテムのアコーディオン本体。</strong>...
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              アコーディオン・アイテム #2
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>これは2番目のアイテムのアコーディオン本体。</strong>...
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              アコーディオン・アイテム #3
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>これは3番目のアイテムのアコーディオン本体。</strong>...
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              アコーディオン・アイテム #4
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>これは4番目のアイテムのアコーディオン本体。</strong>...
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              アコーディオン・アイテム #5
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>これは5番目のアイテムのアコーディオン本体。</strong>...
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              アコーディオン・アイテム #6
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>これは6番目のアイテムのアコーディオン本体。</strong>...
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btnbar" role="toolbar" aria-label="ボタングループのツールバー">
      <p class>
        <div class="btn-group me-2" role="group" aria-label="第一グループ">
          <button type="button" class="btn btn-secondary">最後へ</button>
        </div>
        <div class="btn-group me-2" role="group" aria-label="第二グループ">
          <button type="button" class="btn btn-primary">次へ</button>
        </div>
      </p>
    </div>
  </div>
</div>