<div class='mr10 float-right'>
  <%= link_to '#', id: "button-edit-#{post.id}" do %>
    <%= icon 'fa', 'pen', class: 'pr-1' %>
  <% end %>
  <%= link_to "#", id: "button-delete-#{post.id}", method: :delete, data: { confirm: '削除してよろしいですか？' } do %>
    <%= icon 'fas', 'trash', class: 'pr-1' %>
  <% end %>
</div>