<%# <li class="list-inline-item"> %>
  <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
    <%= icon 'fas fa-edit text-primary', class: 'pr-1' %>
  <% end %>
<%# </li> %>
<%# <li class="list-inline-item"> %>
  <%= link_to post_path(post), id: "button-delete-#{post.id}", method: :delete, data: { confirm: t('defaults.message.delete_confirm') } do %>
    <%= icon 'fa', 'trash', class: 'pr-1' %>
  <% end %>
<%# </li> %>