<form class="was-validated">
  <%= form_with model: post, local: true do |f| %>
    <div class="mb-3">
      <label for="validationServer01" class="form-label">タイトル</label>
      <input type="text" class="form-control is-invalid" id="validationServer01" aria-describedby="validationServer01Feedback" placeholder="タイトルを入力してください" required>
      <div id="validationServer01Feedback" class="invalid-feedback">
        タイトルを入力してください
      </div>
    </div>
    
    <div class="mb-3">
      <label for="validationTextarea" class="form-label">内容</label>
      <textarea class="form-control is-invalid" id="validationTextarea" placeholder="内容を入力してください" required></textarea>
      <div class="invalid-feedback">内容を入力してください</div>
    </div>

    <div class="mb-3">
      <label for="validationServer02" class="form-label">銘柄</label>
      <input type="text" class="form-control is-invalid" id="validationServer02" aria-describedby="validationServer02Feedback" placeholder="銘柄を入力してください" required>
      <div id="validationServer02Feedback" class="invalid-feedback">銘柄を入力してください</div>
    </div>

    <div class="mb-3">
      <label for="validationTooltip01" class="form-label">原産国</label><br>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck1" required>
        <label class="form-check-label" for="inlineCheckbox1">アイルランド</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck1" required>
        <label class="form-check-label" for="inlineCheckbox1">スコットランド</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck1" required>
        <label class="form-check-label" for="inlineCheckbox1">アメリカ</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck1" required>
        <label class="form-check-label" for="inlineCheckbox1">カナダ</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck1" required>
        <label class="form-check-label" for="inlineCheckbox1">日本</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck1" required>
        <label class="form-check-label" for="inlineCheckbox1">台湾</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck1" required>
        <label class="form-check-label" for="inlineCheckbox1">インド</label>
      </div>
      <div class="invalid-feedback">原産国が選択されていません</div>
    </div>

    <div class="mb-3">
      <label for="validationTooltip02" class="form-label">原材料</label><br>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck2" required>
        <label class="form-check-label" for="inlineCheckbox1">モルト</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck2" required>
        <label class="form-check-label" for="inlineCheckbox1">グレーン</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck2" required>
        <label class="form-check-label" for="inlineCheckbox1">ブレンデッドモルト</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck2" required>
        <label class="form-check-label" for="inlineCheckbox1">バーボン</label>
      </div>
      <div class="invalid-feedback">原材料が選択されていません</div>
    </div>

  <div class="mb-3">
      <label for="validationTooltip03" class="form-label">価格帯</label><br>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck3" required>
        <label class="form-check-label" for="inlineCheckbox1">1,000円未満</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck3" required>
        <label class="form-check-label" for="inlineCheckbox1">1,000円台</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck3" required>
        <label class="form-check-label" for="inlineCheckbox1">2,000円台</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck3" required>
        <label class="form-check-label" for="inlineCheckbox1">3,000円台</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck3" required>
        <label class="form-check-label" for="inlineCheckbox1">4,000円台</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck3" required>
        <label class="form-check-label" for="inlineCheckbox1">5,000円台</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck3" required>
        <label class="form-check-label" for="inlineCheckbox1">6,000円台</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck3" required>
        <label class="form-check-label" for="inlineCheckbox1">7,000円台</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck3" required>
        <label class="form-check-label" for="inlineCheckbox1">8,000円台</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck3" required>
        <label class="form-check-label" for="inlineCheckbox1">9,000円台</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck3" required>
        <label class="form-check-label" for="inlineCheckbox1">1,0000円台</label>
      </div>
      <div class="form-check form-check-inline is-invalid">
        <input type="checkbox" class="form-check-input is-invalid " id="validationFormCheck3" required>
        <label class="form-check-label" for="inlineCheckbox1">1,0000万円以上</label>
      </div>
      <div class="invalid-feedback">価格帯が選択されていません。</div>
    </div>

    <div class="mb-3">
      <input type="file" class="form-control" aria-label="file example" required>
      <div class="invalid-feedback">画像を添付してください</div>
    </div>

    <div class="mb-3">
      <button class="btn btn-primary" type="submit">投稿する</button>
    </div>
  <% end %>
</form>
