<% content_for(:title, t('.title')) %>
<!-- 掲示板一覧 -->
<main class="flex-grow p-0">
  <div class="container pt-4">
    <div class="row">
      <div class="col-12">
        <%= render 'search_form', url: posts_path %>
        <div class="row p-2">
          <% if @posts.present? %>
            <%= render @posts %>
          <% else %>
            <div class="row p-5">
              <div class="row justify-content-center">
                <p class="col-auto"><%= t('.no_result') %></p>
              </div>
            </div>
            <div class="row p-5"></div>
            <div class="row p-5"></div>
            <div class="row p-5"></div>
          <% end %>
        </div>
        <!-- ページネーション -->
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</main>
