@import 'top';
@import 'new';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'whiskey_show';
@import 'history';
@import 'country';
@import 'whiskey';
@import 'how_to_drink';
@import 'profiles_edit';
@import 'form';
@import '_post';
@import 'search_box';
@import 'privacy_policy';
@import 'terms';


.flex-grow{
  background-color: rgb(211, 211, 211);;
}

html {
  height: 100%;
}

body { 
  min-height: 100vh; 
}

header {
  width: 100%;
}

footer {
  position: sticky;
  top: 100vh;
  width: 100%;
}
