.container-fluid {
  background-color: white;
}

.top-content {
  background-image: image-url("top.jpeg");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
