.whiskey {
  background-image: image-url("whiskey.png");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}